#space {
  width: 100%;
  height: 500px;
}

#red {
  width: 100%;
  height: 90px;
  background-color: red;
}

#blue {
  width: 33.33%;
  height: 500px;
  background-color: blue;
  float: left;
}

#purple {
  width: 33.33%;
  height: 500px;
  background-color: purple;
  float: left;
}

#yellow {
  width: 33.33%;
  height: 500px;
  background-color: yellow;
  float: left;
}

#green {
  width: 100%;
  height: 90px;
  background-color: green;
}